<div class="header-fb">
    <p>Facebook network</p>
    <button *ngIf="!user" (click)="loginFacebook();">Login with facebook</button>
    <button *ngIf="user" (click)="logoutFacebook();">Logout with facebook</button>
    <button *ngIf="user" (click)="getInfo();">Info facebook</button>
</div>
<div class="info-facebook">
    <img src={{srcAvatar}}>
    <div>{{firstName}}</div>
    <div *ngIf="friends">Количество друзей: {{friends}}</div>
</div>
<div class="posts">
    <div *ngFor="let post of posts">
        <div *ngIf="post.message">{{post.message}}</div>
    </div>
</div>