button {
    background: #4267b2;
    color     : white;
    border    : 1px solid;
    padding   : 5px 15px;
    font-size : 20px;
}

.info-facebook {
    text-align: center;
    margin: 10px;
}

.posts {
    width     : 80%;
    text-align: center;
    margin    : 0 auto;
}

.posts::-webkit-scrollbar {
    border-radius: 6px;
    background   : #4267b2;
}

.posts::-webkit-scrollbar-thumb {
    border-radius   : 6px;
    background-color: white;
    box-shadow      : inset 0px 0px 5px 0px #4267b2;
}