<template>
    <div>Vk ${mesaga}</div>
    <button click.delegate="login()">login</button>
    <button click.delegate="logout()">login</button>
    <button click.delegate="getInfo()">info</button>

    <div>
        <div class="info-vk">
            <img src.bind="user.photo_100">
            <div>${user.first_name} ${user.last_name}</div>
            <!-- <div *ngIf="firstname">
                        <div *ngIf="!online" style="color: red;">ofline</div>
                        <div *ngIf="online" style="color: green;">online</div>
                    </div> -->
        </div>
    </div>
</template>