.info-vk {
    text-align: center;
    margin    : 10px;
}

.info-vk img {
    /* border: 5px outset #4a76a7; */
}

.posts {
    text-align   : center;
    max-height   : 53vh;
    overflow     : auto;
    box-shadow   : inset -7px 0px 20px 0px black, 0px 0px 8px 0px black;
    max-width    : 80%;
    margin       : auto;
    padding      : 10px;
    border-radius: 10px;
}

.posts::-webkit-scrollbar {
    border-radius: 6px;
    background   : #4a76a7;
}

.posts::-webkit-scrollbar-thumb {
    border-radius   : 6px;
    background-color: white;
    box-shadow      : inset 0px 0px 5px 0px #4a76a7;
}

.posts>div {
    padding  : 5px;
    border   : 1px solid black;
    margin   : 5px auto;
    word-wrap: break-word;
}

.frinds {
    margin  : 5px;
    display : flex;
    overflow: auto;
}

.frinds>div {
    text-align: center;
    margin    : 5px 10px;
}

.frinds::-webkit-scrollbar {
    border-radius   : 6px;
    background-color: inherit;
    box-shadow      : inset 0px 0px 5px 0px #4a76a7;
}

.frinds::-webkit-scrollbar-thumb {
    border-radius   : 6px;
    background-color: #4a76a7;
}

button {
    background: #4a76a7;
    color     : white;
    border    : 1px solid;
    padding   : 5px 15px;
    font-size : 20px;
}