<div class="header-vk">
    <p>VK network</p>
    <button *ngIf="!session" (click)="login()">VK login</button>
    <button *ngIf="session" (click)="logout()">VK logout</button>
    <button *ngIf="session" (click)="getInfo()">VK Info</button>
</div>
<div *ngIf="session">
    <div class="info-vk">
        <img src={{srcAvatar}}>
        <div>{{firstname}} {{lastname}}</div>
        <div *ngIf="firstname">
            <div *ngIf="!online" style="color: red;">ofline</div>
            <div *ngIf="online" style="color: green;">online</div>
        </div>
    </div>
    <div *ngIf="posts" class="posts">
        <div *ngFor="let post of posts">
            <div *ngIf='!post.copy_history'>{{post.text}} <br />
                <img *ngIf="post.attachments" src={{post.attachments[0].photo.sizes[2].url}}>
            </div>
            <div *ngIf="post.copy_history">{{post.copy_history[0].text}}<br />
                <img *ngIf="post.copy_history[0].attachments && post.copy_history[0].attachments[0].type=='photo'"
                    src={{post.copy_history[0].attachments[0].photo.sizes[2].url}}>
            </div>
        </div>
    </div>
    <div *ngIf="friends" class="frinds">
        <div *ngFor="let friend of friends">
            <img src={{friend.photo_50}}>
            <div>{{friend.first_name}} {{friend.last_name}} </div>
            <div *ngIf="!friend.online" style="color: red;">ofline</div>
            <div *ngIf="friend.online" style="color: green;">online</div>
        </div>
    </div>
</div>