<div class="front-text">Авторизация в соц. сети
    <img *ngIf="social=='VK'" src="https://pngicon.ru/file/uploads/vkontakte-128x128.png">
    <img *ngIf="social=='FB'" src="https://pngicon.ru/file/uploads/FaceBook_512x512-128x128.png">
</div>
<app-vkontakte *ngIf="social=='All'  || social=='VK'"></app-vkontakte>
<app-facebook *ngIf="social=='All' || social=='FB'"></app-facebook>