<template>
  <require from="./vk/vk"></require>

  <h1>${message}</h1>
  <vk></vk>
  <main role="main" class="container">
    <div class="row">

      <div class="col-sm-8 blog-main">
        <router-view></router-view>
      </div>


      <aside class="col-sm-3 ml-sm-auto blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>Tags</h4>
          <a route-href="route: tag-view; params.bind: { tag }" repeat.for="tag of tags">
            <span class="badge badge-pill badge-info">${ tag }</span>
          </a>
        </div>
        <div class="sidebar-module">
          <h4>Archives</h4>
          <ol class="list-unstyled">
            <li repeat.for="archive of archives">
              <a route-href="route: archive-view; params.bind: { archive }">${ archive }</a>
            </li>
          </ol>
        </div>
      </aside>

    </div>
  </main>
</template>