<template>
    <require from="../resources/elements/blog-post"></require>
  
    <div if.bind="error" class="alert alert-danger">${ error }</div>
  
    <div class="alert alert-dark">Viewing posts created in  ${ archive }</div>
  
    <div repeat.for="post of posts">
  
      <blog-post post.bind="post"></blog-post>
  
      <a route-href="route: post-view; params.bind: { slug: post.slug }">View Post &raquo</a>
      <hr />
    </div>
  </template>