<template>
  <require from="../value-converters/date-format"></require>

  <div class="blog-post">
    <h2 class="blog-post-title">${ post.title }</h2>
    <p class="blog-post-meta">${ post.createdAt | dateFormat }</p>

    <p>
      <a route-href="route: tag-view; params.bind: { tag }" repeat.for="tag of post.tags">
        <span class="badge badge-pill badge-info">${ tag }</span>
      </a>
    </p>

    <p>${ post.body }</p>
  </div>
</template>